.container .row .complain-p-base{
    margin: 0;
    margin-bottom: 5px;
}

.container .row .deal-base{
    margin-top: 20px;
    width: 40%;
}
.container .row .delete{
    margin-right: 5px;
}

.container .row .complain-p-delete{

    font-size: 20px;
    color: #d9534f;

}

.container .row .complain-p-ignore{

    font-size: 20px;
    color: #000000;

}
.container .row .ignore{
    margin-left: 5px;
}

.container .row .content-base{
    height: 100px;
}

