/**
    * Created by Jiayiwu on 16/10/16.
    * Mail:wujiayi@lgdreamer.com
    * Change everywhere
    */

.container .row #panle-row{

    margin-top: 30px;

}

.container .row #panle-row #tip-div{

text-align: center;

}

.container .row #panle-row #tip-div img{

    width: 95%;

}

